/* container */
.container-data {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0px 20px 0px 20px;
}

.container_dashboard {
  background-color: white;
  min-height: 100vh;
}

.container_wrap {
  margin: 0px 20px;
}

.action_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* form */
.label {
  font-size: 1.2rem;
}

.input {
  width: 50%;
  text-align: left;
  padding: 8px;
  border-radius: 10px;
  margin: 10px 0px;
  font-size: 1rem;
}

/* button */
.btn-addData {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 5px 20px;
  border-radius: 15px;
  border: none;
  background-color: teal;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  color: white;
}

.btn-addData:hover {
  cursor: pointer;
  background-color: salmon;
}

.btn-delete {
  padding: 5px 20px;
  border-radius: 15px;
  border: none;
  background-color: #eb675e;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  margin: 10px 5px;
  color: white;
}

.btn-delete:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.btn-update {
  padding: 5px 20px;
  border-radius: 15px;
  border: none;
  background-color: var(--primary-color);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  margin: 10px 5px;
  color: white;
}

.btn-update:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.btn-view {
  padding: 5px 20px;
  border-radius: 15px;
  border: none;
  background-color: blueviolet;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  margin: 10px 5px;
  color: white;
}

.btn-view:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.pagination__link {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pagination__link--active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 10px;
}

.pagination__link--disabled {
  pointer-events: none;
  opacity: 0.5;
}

.pagination__link.previous,
.pagination__link.next {
  font-weight: bold;
}

.pagination__link:hover {
  background-color: #eee;
  color: #555;
}

/* grouping div button header */
.group_button_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* heading */
.heading_header {
  font-size: 1.7rem;
  color: #333333;
  margin: 20px 0px;
  text-align: left;
}

/* table */
table td {
  font-size: 1rem;
}

table th {
  font-size: 1.2rem;
  font-weight: 500;
}

.table-data {
  font-size: 1.3rem;
}

/* search filter */
.search-input {
  width: 280px; /* Adjust width as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 10px; /* Add some spacing between the search input and the "Add New Users" button */
  margin-bottom: 10px;
  height: 40px;
}
